li.nav-item.login {
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    margin-right: 15px;
}
.top-nav-collapse , .top-nav{
    background-color: #f15f43 !important;
    border-color: #f15f43;;
}
.btn-lg .fa,a{
    color: white
}
a.dropdown-item.waves-effect.waves-light:hover {
    background: linear-gradient(45deg, #1de099, #1dc8cd);
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  a:not([href]):not([tabindex]) {
      color: #ffff;
  }


.navbar {
    background-color: #f15f43 !important;
    border-color: #f15f43;
}
