<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="https://mdbootstrap.com/material-design-for-bootstrap/" routerLink="/">
            <strong>Quizzes</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="technologies()">Technologies</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Latest jobs
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="/job-categories">Jobs in Top Cities</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Jobs by Skills</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Jobs by Courses</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Jobs by Education</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Jobs by Designation</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Part Time Jobs</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">Free tutorials</a>
                </li>

                <ng-template #otherBlock>
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">My Account
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-purple" aria-labelledby="navbarDropdownMenuLink-5">
                            <a class="dropdown-item waves-effect waves-light">My Profile</a>
                            <a class="dropdown-item waves-effect waves-light">Settings</a>
                            <a class="dropdown-item waves-effect waves-light" (click)="logout()">Logout</a>
                        </div>
                    </li>
                </ng-template>

                <li class="nav-item" *ngIf="!currentUser;else otherBlock">
                    <a class="nav-link" data-toggle="modal" data-target="#modalLRForm">
                        LogIn
                    </a>
                </li>

                <li class="nav-item" *ngIf="!currentUser">
                    <a class="nav-link" data-toggle="modal" data-target="#modalLRForm">
                        Register
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Navbar -->