<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <div class="container">
    <div class="row">
      <!--Copyright-->
      <div class="footer-copyright py-3 col-sm-4">
        © 2018 Copyright:
        <a> Onlinetest.com </a>
      </div>
      <!--/.Copyright-->
      <div class="col-sm-4 py-3 text-center">
        <a>Terms and Conditions</a> |
        <a>Privacy Policy</a>
      </div>
      <!-- Social icons -->
      <div class="py-3 col-sm-4">
        <a href="https://www.facebook.com/mdbootstrap" target="_blank">
          <i class="fa fa-facebook mr-3"></i>
        </a>

        <a href="https://twitter.com/MDBootstrap" target="_blank">
          <i class="fa fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
          <i class="fa fa-youtube mr-3"></i>
        </a>

        <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
          <i class="fa fa-google-plus mr-3"></i>
        </a>

        <a href="https://dribbble.com/mdbootstrap" target="_blank">
          <i class="fa fa-dribbble mr-3"></i>
        </a>

        <a href="https://pinterest.com/mdbootstrap" target="_blank">
          <i class="fa fa-pinterest mr-3"></i>
        </a>

        <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
          <i class="fa fa-github mr-3"></i>
        </a>

        <a href="http://codepen.io/mdbootstrap/" target="_blank">
          <i class="fa fa-codepen mr-3"></i>
        </a>
      </div>
      <!-- Social icons -->
    </div>
  </div>
</footer>
<!--/.Footer-->