<div class="page">
  <div class="invert course-img" style="background-image: url('assets/img/notes.jpg');">
    <div class="wrappr text-center">
      <h1>Angular 4 Topics And Tests</h1>
      <p>See what's offered by the portal and then find something that suits your needs. Write test and imporove skills with
        each test.
      </p>
    </div>
    <!-- .wrappr -->
  </div>
  <div id="gridiconcontainer" class="container">
    <ul class="gridicons">
      <li class="currentselected ">
        <div class="image_holder" >
          <a class="gridicon_link">
            <img src="http://marbol2.com/themes/new-learning/pluginfile.php/150/course/section/32/gridimage/1_goi_macbook-2617419-compressor.jpg"
              class="hovereffect">
          </a>
        </div>
        <div class=" text-center icon_content">
          <h4 class="book-title">Angular</h4>
          <ul class="list-inline clearfix mt-2">
            <li class="mr-3">
              <h2 class="block">16</h2> Topics</li>
            <li class="mr-3">
              <h2 class="block">264</h2> Pages</li>
            <li class="mr-3">
              <h2 class="block">85</h2> Downloads</li>
          </ul>
          <a type="button" class="btn btn-medium btn-orange mb-4">DownLoad</a>
        </div>
      </li>  
    </ul>
  </div>
</div>

