<div class="card">

  <!-- Heading -->
  <div class="head">
    <h3 class="text-center"> SIGN IN</h3>
  </div>

  <!--Card content-->
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="form3" class="form-control" formControlName="email">
        <label for="form3">E mail</label>
        <div class="text-danger text-center" *ngIf="loginForm.get('email').dirty && loginForm.get('email').invalid">
          Please enter formatted mail
        </div>
      </div>
      <div class="md-form">
        <i class="fa fa-key prefix grey-text"></i>
        <input type="text" id="form2" class="form-control" formControlName="password">
        <label for="form2">Password</label>
        <div class="text-danger text-center" *ngIf="loginForm.get('password').dirty && loginForm.get('password').invalid">
          Please enter password
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

      <div class="text-center">
        <!-- Register -->
        <p>Not a member?
          <a routerLink="/sign-up">Sign Up</a>
        </p>
      </div>

    </form>
    <!-- Form -->

  </div>

</div>