/* .tech .col-md-2 {
    background-color: #dedede; 
    text-align: center;
    border: 1px solid #fff;
    padding: 50px 10px;
    width: 100%;
    height: 150px;
    display: block;
    font-size: 16px;
    position: relative;
    color: #000000;
}
.course span {
    display: none;
}
.course:hover span {
    display: block;
}
.course:hover p {
    display: none;    
}
.tech .col-md-2:hover {
    background-color: antiquewhite;
}
*/
.page {
    z-index: 1000;
} 
.invert {
    color: rgba( 255, 255, 255, 1 );
}
.course-img {
 padding-top: 250px;
 padding-bottom: 20px;
 display: block; 
 position: relative;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: scroll;
 margin-bottom: 30px;
}
#gridiconcontainer ul.gridicons {
    width: 100%;
    margin-left: 1%;
    padding: 0;
}
ul {
    list-style: none;
}
#gridiconcontainer ul.gridicons li {
    padding: 20px;
    display: inline-table;
}
ul.gridicons li.currentselected {
    background-color: transparent;
    opacity: 1;
}
 .gridicon_link {
    cursor: pointer;
    position: relative;
    display: block;
    text-align: center;
}
 ul.gridicons li.currentselected .icon_content {
    color: #fff;
    background-color: rgba(255, 180, 0, 0.7);
}
 ul.gridicons li .icon_content {
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
    margin: 0;
    padding: 13px 10px;
    font-weight: normal;
    font-size: 20px;
    left: 0;
    bottom: 0;
}
 ul.gridicons li .image_holder {
    text-align: center;
    vertical-align: middle;
    box-sizing: content-box;
    overflow: hidden;
}
ul.gridicons li .image_holder img {
    transition: all 0.25s ease-in-out;
}
.course-content ul.gridicons li img {
    margin-top: 0;
}
.hovereffect:hover {
    -webkit-transform: scale(1.6); 
     -moz-transform: scale(1.6);
     -o-transform: scale(1.6);
     transform: scale(1.6);
 }