<div class="sticky-wrapper is-sticky">
  <div class="counter">
    <i class="fa fa-clock-o"></i> Time Left -
    <span>{{timeLeft}} Seconds Left....</span>
  </div>
  <div class="qa_list">
    <p>1. Two cars cover the same distance at the speed of 60 and 64 kmps respectively. Find the distance traveled by them if
      the slower car takes 1 hour more than the faster car.</p>
    <ul class="qa_sub_list">
      <li>
        <input type="radio" name="option[1504]" value="906 km"> A. 906 km</li>
      <li>
        <input type="radio" name="option[1504]" value="960 m "> B. 960 m </li>
      <li>
        <input type="radio" name="option[1504]" value="960 km "> C. 960 km </li>
      <li>
        <input type="radio" name="option[1504]" value="966 km "> D. 966 km </li>
    </ul>
  </div>
  <div class="qa_list">
    <p>1. Two cars cover the same distance at the speed of 60 and 64 kmps respectively. Find the distance traveled by them if
      the slower car takes 1 hour more than the faster car.</p>
    <ul class="qa_sub_list">
      <li>
        <input type="radio" name="option[1504]" value="906 km"> A. 906 km</li>
      <li>
        <input type="radio" name="option[1504]" value="960 m "> B. 960 m </li>
      <li>
        <input type="radio" name="option[1504]" value="960 km "> C. 960 km </li>
      <li>
        <input type="radio" name="option[1504]" value="966 km "> D. 966 km </li>
    </ul>
  </div>
  <div class="qa_list">
    <p>1. Two cars cover the same distance at the speed of 60 and 64 kmps respectively. Find the distance traveled by them if
      the slower car takes 1 hour more than the faster car.</p>
    <ul class="qa_sub_list">
      <li>
        <input type="radio" name="option[1504]" value="906 km"> A. 906 km</li>
      <li>
        <input type="radio" name="option[1504]" value="960 m "> B. 960 m </li>
      <li>
        <input type="radio" name="option[1504]" value="960 km "> C. 960 km </li>
      <li>
        <input type="radio" name="option[1504]" value="966 km "> D. 966 km </li>
    </ul>
  </div>
  <div class="qa_list">
    <p>1. Two cars cover the same distance at the speed of 60 and 64 kmps respectively. Find the distance traveled by them if
      the slower car takes 1 hour more than the faster car.</p>
    <ul class="qa_sub_list">
      <li>
        <input type="radio" name="option[1504]" value="906 km"> A. 906 km</li>
      <li>
        <input type="radio" name="option[1504]" value="960 m "> B. 960 m </li>
      <li>
        <input type="radio" name="option[1504]" value="960 km "> C. 960 km </li>
      <li>
        <input type="radio" name="option[1504]" value="966 km "> D. 966 km </li>
    </ul>
  </div>
</div>

<button type="button" class="btn btn-block">SUBMIT TEST</button>