.quiz-index{
    border: 1px solid #e2e2e2;
}
.quiz-index .widget-title {
    font-size: 18px;
    padding: 10px;
    color: #000000;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
}
.quiz-index {
    position: fixed;
    width: 26%;
    margin-top: 33px;
}

.widget-content {
    padding: 10px;
}
.widget-content .btn {
    margin: 3px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: #dedede;
    line-height: 30px;
    border-radius: 50%;
    font-size: 16px;
    padding: 0px;
}
.btn-block {
    background: linear-gradient(45deg, #1de099, #1dc8cd);
}

