<div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 347px;">
  <div class="widget quiz-nav" style="width: 307px; position: fixed; top: 115px;">
    <div class="widget-title">Questions Index</div>
    <div class="content">
      
    </div>
    <button id="btn-finish" type="button" class="btn btn-block btn-primary">SUBMIT TEST</button>
    <a style="display: none;" class="next-test" href="javascript:;">Next Test
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>