<div class="page">
  <!-- Card -->
  <div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <div class="detail-pic">
        <img src="assets/img/jg6.png" class="img" alt="">
        <a href="#" class="detail-edit" title="edit"></a>
      </div>
      <div class="detail-status">
        <span type="button" class="btn btn-raised btn-sm ">{{job?.jpostdate}}</span>
      </div>
      <!-- Title -->
      <h4 class="card-title">
        <strong>{{job?.jcname | uppercase}}</strong>
      </h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">{{job?.jtiltle}}</h6>
      <!-- Text -->
      <p class="card-text">{{job?.jcprofile}}
      </p>
      <div class="pull-left">
          <i class="fa fa-flask"></i>
          <span><strong>{{job?.jexp}} Year Experience</strong></span>
      </div>

      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic">
        <i class="fa fa-linkedin"></i>
      </a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic">
        <i class="fa fa-twitter"></i>
      </a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic">
        <i class="fa fa-facebook"></i>
      </a>

      <a type="button" class="btn btn-raised btn-info btn-lg pull-right" target="_blank" href="{{job?.jurl}}">quick Apply</a>

    </div>

  </div>
  <!-- Card -->

  <section class="full-detail-description full-detail">
    <div class="container">

      <div class="row row-bottom">
        <h2 class="detail-title">Basic Information</h2>
        <ul class="detail-list">
          <li>Job Role :
            <strong>{{job?.jrole}}</strong>
          </li>
          <li>Company Website :
            <strong>{{job?.cwebsite}}</strong>
          </li>
          <li>Experience :
            <strong>{{job?.jexp}}</strong>
          </li>
          <li>Last Date For Apply :
            <strong>{{job?.jlastdate}}</strong>
          </li>
        </ul>
      </div>

      <div class="row row-bottom">
        <h2 class="detail-title">Job Responsibilities</h2>
        <ul class="detail-list">
          <li>{{job?.jdescription}}</li>
        </ul>
      </div>

      <div class="row row-bottom">
        <h2 class="detail-title">Skill Requirement</h2>
        <ul class="detail-list">
          <li>{{job?.jeligibility}}</li>
        </ul>
      </div>

      <div class="row row-bottom">
        <h2 class="detail-title">Qualification</h2>
        <ul class="detail-list">
          <li>{{job?.requiredskills}}</li>
          <li>{{job?.candidateprofile}}</li>
        </ul>
      </div>

    </div>
  </section>
</div>