<div class="page">
    <!-- Card -->
    <div class="card card-cascade wider reverse">
    
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
          <div class="detail-pic">
              <img src="assets/img/jg6.png" class="img" alt="">
              <a href="#" class="detail-edit" title="edit"></a>
            </div>
        <!-- Title -->
        <h4 class="card-title"><strong>My adventure</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
        <!-- Text -->
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.
        </p>
    
        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
    
      </div>
    
    </div>
    <!-- Card -->
    
    <section class="full-detail-description full-detail">
      <div class="container">
        <div class="row row-bottom">
          <h2 class="detail-title">Job Responsibilities</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <div class="row row-bottom">
          <h2 class="detail-title">Skill Requirement</h2><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="detail-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>
          </ul>
        </div>
        
        <div class="row row-bottom">
          <h2 class="detail-title">Qualification</h2><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="detail-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
        </div>
        
      </div>
    </section>
    </div>