<div class="page">
  <app-job-search></app-job-search>
  <div class="container">
    <h1>All Jobs</h1>
    <div class="row">
      <div class="col-4">
        <div class="col_3">
          <div class="filter">
            <h4 style="font-size: 35px" class="thumb-item">Filter</h4>
            <form novalidate style=" margin-top: 30px;" #filterForm="ngForm" (ngSubmit)="search()">
              <div class="form-group">
                <select class="form-control" name="industry">
                  <option value="">Industry</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>            
              <div class="form-group">
                <select class="form-control" name="job-type">
                  <option value="">Job Type</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="salary">
                  <option value="">Salary</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="location">
                  <option value="">Location</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="keyWords">
                  <option value="">KeyWords</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="form-group" style="margin-top: 3rem;">
                <button class="btn-lg search-btn" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col_3">
          <h3>Todays Jobs</h3>
          <ul class="list_1">
            <li>
              <a href="#">Department of Health - Western Australia</a>
            </li>
            <li>
              <a href="#">Australian Nursing Agency currently require experiences</a>
            </li>
            <li>
              <a href="#">Russia Nursing Agency currently require experiences</a>
            </li>
            <li>
              <a href="#">The Government of Western Saudi Arbia</a>
            </li>
            <li>
              <a href="#">Department of Health - Western Australia</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Card-->
      <div class="col-8">
        <div class="card" *ngFor="let job of jobs">
          <div class="job-company-icon col-2">
            <img src="assets/img/sample.jpg" alt="company-icon" class="img-responsive">
          </div>
          <!--Card content-->
          <div class="card-block col-10">
            <!--Title-->
            <h4 class="card-title">
              <strong>{{job.jtiltle}}</strong>
            </h4>
            <p>{{job.jcname}}</p>
            <!--Text-->
            <p class="card-text">{{job.jcprofile}}</p>
            <a href="#" class="pull-right" ripple-radius routerLink="/job-detail/{{job.id}}">VIEW ALL</a>
          </div>
          <!--/.Card content-->
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>