/* You can add global styles to this file, and also import other style files */
.page {
    padding-top: 64px;
    min-height: 580px
}
.btn {
    box-shadow: none !important;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: initial !important;
}
