<div class="container">
  <div class="page">
    <h4 class="section-title">Jobs in States / Union Territories and Cities across India</h4>
    <div class="row" >
      <div class="col-md-3" *ngFor="let location of locations">
        <div class="card">
          <div class="categories-list">
            <div class="categories-list-heading">
              <h5 class="dark">Jobs in {{location.name}}</h5>
            </div>
            <!-- .categories-list-heading -->
            <div class="categories-columns-wrapper flex no-wrap space-between" *ngFor="let city of location.cities">
              <ul class="categories-column">
                <li>
                  <a routerLink="/latest-jobs/{{city.name}}"> Jobs in {{city.name}}</a>
                </li>
              </ul>
              <!-- end .categories-column -->
            </div>
            <!-- end .categories-columns-wrapper -->
          </div>
          <!-- end .categories-list -->
        </div>
      </div>

    </div>
  </div>
  <!-- end .categories-list-wrapper -->
</div>
<!-- end .container -->