.card-columns .card { 
    width: 80%;
}
.card-columns {
    column-count: 4;
    column-gap: 0rem;
}
.card .card-body .card-text {
    color: #5986b4eb;
    font-size: 1rem;
    line-height: 1.8rem;
}
.section-title {
    margin-bottom: 30px;
    margin-top: 30px;
}
    
@media (max-width : 767px) {
    .card-columns {
        column-count: 2;
    }
}
@media (max-width : 1024px) {
    .card-columns {
        column-count: 3;
    }
}
  
  
