.btn-cyan {
  background: #2185C5;
  color: #fff;
}
.fa-times-circle {
  font-size: 25px;
  color: black;
}
.light-blue.darken-3 {
  background:linear-gradient(45deg, #1de099, #1dc8cd);
}
.content p {
  color : #ff821c !important
}
hr {
  border-top: 1px solid transparent;
}

html,
body,
header,
.view {
  height: 100%;
}
@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}