
.page {
    padding-top: 100px !important;
}
.btn-rounded {
    border-radius: 10em;
}
.card-header {
    background:linear-gradient(45deg, #1de099, #1dc8cd);
}
.btn {
    width: 50%;
    margin-left: 25%;
}